<template>
    <div>
        <transition-group :name="transition" tag="div" type="animation" class="carousel">
            <slider v-for="(slides, index) in items" :key="index" :slides="slides" v-if="visible(index)" :count="count"></slider>
        </transition-group>
        <button class="carousel-nav carousel-prev" @click.prevent="prev" :disabled="isFirst">&lt; Previous</button>
        <button class="carousel-nav carousel-next" @click.prevent="next" :disabled="isLast">Next &gt;</button>
        <em><small>Image: {{ current + 1 }}/{{ items.length}}, index: {{ current }}</small></em>
    </div>
</template>

<script>
    import chunk from "lodash/chunk";
    import Slider from "./Slider.vue";

    export default {
        components: {
            Slider
        },
        props: {
            slides: {
                type: Array
            },
            count: {
                type: Number
            },
        },
        data () {
            return {
                items: [],
                direction: "right",
                current: 0,
                isFirst: true,
                isLast: true,
            }
        },
        beforeMount() {
            this.items = this.slides;
            this.items = chunk(this.items, this.count);
        },
        methods: {
            prev () {
                if (0 === this.current) {
                    return;
                }

                this.current -= 1;
            },
            next () {
                if (this.items.length <= (this.current + 1)) {
                    return;
                }

                this.current += 1;
            },
            goto (index) {
                if (index === this.current) {
                    return;
                }

                this.current = index;
            },
            visible(index) {
                return this.current === index;
            },
            updateButtonsStatus() {
                this.isFirst = 0 === this.current;
                this.isLast = this.current === (this.items.length - 1);
            }
        },
        created () {
            this.updateButtonsStatus();
        },
        watch: {
            current: function (current, oldIndex) {
                this.direction = (this.current > oldIndex) ? "right" : "left";
                this.updateButtonsStatus();
            }
        },
        computed: {
          transition() {
              return `slide-${this.direction}`;
          },
      },
  }
</script>

<style>
    .carousel {
        position: relative;
        overflow: hidden;
        width: 600px;
        height: 300px;
        margin: 0 auto 10px;
        border: 3px solid cornflowerblue;
        background-color: cornflowerblue;
    }
        .carousel .slides {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
            .carousel .slide {
                position: relative;
                /*height: 100%;*/
                /*padding: 0 2px;*/
            }
                /*.carousel .slide:first-child {*/
                    /*padding-left: 0;*/
                /*}*/
                /*.carousel .slide:last-child {*/
                    /*padding-right: 0;*/
                /*}*/
                .carousel .slides .slide img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .carousel .slides .slide .title {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    padding: 4px 6px;
                    border-radius: 10px;
                    background-color: rgba(0,0,0,0.4);
                    color: #fff;
                    font-size: 12px;
                }

    /*
        Slide Right animation
    */
    .slide-right-enter{
        opacity: 0;
    }

    .slide-right-enter-active{
        animation: slideRightIn 450ms;
        transition: opacity 1s ease;
    }

    .slide-right-leave-active{
        animation: slideRightOut 450ms;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        transition: opacity 1s ease;
    }

    .slide-right-leave {
        opacity: 0;
    }

    @keyframes slideRightIn {
        from { transform: translateX(100%); }
        to { transform: translateX(0); }
    }

    @keyframes slideRightOut {
        from { transform: translateX(0); }
        to { transform: translateX(-100%); }
    }

    /*
        Slide Left animation
    */

    .slide-left-enter{
        opacity: 0;
    }
    .slide-left-enter-active{
        animation: slideLeftIn 450ms;
    }

    .slide-left-leave-active{
        animation: slideLeftOut 450ms;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @keyframes slideLeftIn {
        from { transform: translateX(-100%); }
        to { transform: translateX(0); }
    }

    @keyframes slideLeftOut {
        from { transform: translateX(0); }
        to { transform: translateX(100%); }
    }
</style>
