<template>
    <div class="slides">
        <div v-for="slide in slides" class="slide" :style="'flex: 0 0 ' + 100/count + '%'">
            <img :src="slide.src" :alt="slide.title">
            <div class="title">{{ slide.title }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            slides: {
                type: Array
            },
            count: {
                type: Number
            }
        },
    };
</script>

<style>
</style>
