<template>
    <div>
        <carousel :slides="slides" :count="2"></carousel>
    </div>
</template>

<script>
    import Carousel from "./components/Carousel.vue";

    export default {
        name: "app",
        components: {
            Carousel,
        },
        data() {
            return {
                slides: [
                    { src: "http://lorempicsum.com/futurama/630/300/1", title: "Image 1"},
                    { src: "http://lorempicsum.com/futurama/630/300/2", title: "Image 2"},
                    { src: "http://lorempicsum.com/futurama/630/300/3", title: "Image 3"},
                    { src: "http://lorempicsum.com/futurama/630/300/4", title: "Image 4"},
                    { src: "http://lorempicsum.com/futurama/630/300/5", title: "Image 5"},
                    { src: "http://lorempicsum.com/futurama/630/300/6", title: "Image 6"},
                    { src: "http://lorempicsum.com/futurama/630/300/7", title: "Image 7"},
                    { src: "http://lorempicsum.com/futurama/630/300/8", title: "Image 8"},
                    { src: "http://lorempicsum.com/futurama/630/300/9", title: "Image 9"},
                ],
            };
        },
    }
</script>

<style>
</style>
